.headingOuter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headingInner {
    width: 50%;
}

.headingInnerSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBarWrapper {
    width: 60%;
}