.categoryCard {
    width: 20%;
    height: 250px;
    margin-bottom: 30px;
}

.cardsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.outerSection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.innerSection {
    width: 80%;
}

.noCatsWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.noCatsHeader {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .categoryCard {
        width: 40%;
    }

    .innerSection {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .innerSection {
        width: 90%;
    }

    .categoryCard {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .noCatsWrapper {
        min-height: 30vh;
    }
}