.categoryCard {
    width: 19%;
    height: 250px;
    margin-bottom: 30px;
    margin-left: 2%;
}

.cardsWrapper {
    width: 100%;
    display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
    min-height: 40vh;
}

.outerSection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    min-height: 70vh;
}

.innerSection {
    width: 90%;
}

.noCatsWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.noCatsHeader {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .categoryCard {
        width: 35%;
    }

    .cardsWrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .categoryCard {
        width: 40%;
    }

    .innerSection {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .innerSection {
        width: 90%;
    }

    .categoryCard {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .noCatsWrapper {
        min-height: 30vh;
    }
}