.usersSection {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    align-self: center;
    width: 50%;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 1.6rem;
    background: #ff7200;
    color: white;
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
    }

    .usersSection {
        align-items: center;
    }
}