.mainBanner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #fafafa;
    height: 500px;
}

.mainBannerSection {
    width: 35%;
    height: 80%;
}

.mainBannerHeaderSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fullWidth {
    width: 100%;
}

.bigHeader {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
    color: #ff7200;
}

.smallHeader {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}