.mainBanner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #fafafa;
    height: 500px;
    z-index: 1;
}

.mainBannerSection {
    width: 35%;
    height: 80%;
}

.mainBannerHeaderSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.headingsSectionPart {
    width: 100%;
}

.bigHeader {
    font-size: 3em;
    font-weight: 900;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #ff7200;
}

.smallHeader {
    margin: 0;
    font-family: 'Bellota Text', cursive;
}

.mainBannerCarouselSection {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.6);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 90%;
}

@media screen and (max-width: 1400px) {
    .mainBannerSection {
        width: 45%;
    }
}

@media screen and (max-width: 800px) {
    .mainBannerSection {
        width: 80%;
    }

    .mainBannerHeaderSection {
        text-align: center;
        margin-top: 20px;
    }

    .mainBannerCarouselSection {
        margin-top: 80px;
        height: 450px;
    }

    .headingsSectionPart {
        margin-top: 20px;
    }

    .mainBanner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .bigHeader {
        font-size: 1.8em;
    }

    .smallHeader {
        font-size: 1.1em;
    }

    .searchBarContainer {
        margin-top: 50px;
    }
}

@media screen and (max-width: 400px) {
    .bigHeader {
        font-size: 1.1em;
    }

    .searchBarIcon {
        font-size: 0.5em;
    }
}