.mainWrapper {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    padding: 3%;
    padding-top: 0;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerWrapper {
    background-color: white;
    box-sizing: border-box;
}

.headingWrapper {
    background-color: white;
}

.contentWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-left: 1px solid lightgray;
    font-family: 'Bellota Text', cursive;
}

.styledMsgHeader {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.particSpan {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: italic;
}

h3 {
    margin: 0;
}