.mainWrapper {
    width: 100%;
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
    box-sizing: border-box;
    padding: 3%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerWrapper {
    background-color: white;
    box-sizing: border-box;
}

.headingWrapper {
    background-color: aliceblue;
}

.contentWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
}

.singleMsgNotOwn {
}

h3 {
    margin: 0;
}