.mainWrapper {
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
}

.innerWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

.servicesSection {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.serviceCard {
    width: 40%;
}

.profileSideCardWrapper {
    height: 100%;
    width: 35%;
}

@media screen and (max-width: 1400px) {
    .serviceCard {
        width: 60%;
    }
}

@media screen and (max-width: 1200px) {
    .servicesSection {
        width: 40%;
    }

    .profileSideCardWrapper {
        width: 50%;
    }

    .serviceCard {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .innerWrapper {
        flex-direction: column;
    }

    .profileSideCardWrapper {
        order: 0;
        width: 100%;
        margin-bottom: 7%;
    }

    .servicesSection {
        order: 1;
        width: 100%;
        margin-bottom: 5%;
    }
}

