h2 {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1.4em;
}

.categoryIcon {
    width: 20%;
    height: auto;
    margin-bottom: 5px;
}

.joinedSubs {
    color: grey;
    height: 40%;
    display: flex;
    align-items: center;
    overflow: hidden;
    line-height: 20px;
}

.outerSection {
    border-radius: 20px;
    box-shadow: 5px -3px 15px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    text-decoration: none;
    color: black;
}

.outerSection:hover {
    transform: translate(0, -10px);
    transition: all 0.5s ease;
    box-shadow: 0px 17px 40px -13px #000000;
    border: 1px solid #f6f6f6;
}