.headingInnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.iconWrapper {
    display: flex;
    align-items: center;

}

.starIcon {
    color: orange;
    width: 60%;
}

.rating {
    font-family: 'Mulish', sans-serif;
}

.votesWrapper {
    font-family: 'Mulish', sans-serif;
}