.mainWrapper {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

.innerWrapper {
    width: 90%;
    min-height: 100vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    -webkit-box-shadow: 0px 17px 40px -13px #000000;
    box-shadow: 0px 17px 40px -13px #000000;
}

section.userList {
    width: 100%;
    align-items: center;
}

.userCard {
    width: 90%;
}

.usersHeader {
    align-self: center;
    width: 50%;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    background: #ff7200;
    color: white;
}