.userInfoHeadings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.imageWrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.profileImg {
    border-radius: 50%;
    height: 100%;
}

.userFullName {
    font-size: 1em;
    align-self: center;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
