.mainWrapper {
    width: 100%;
    min-height: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 5%;
    box-sizing: border-box;
    background-color: aliceblue;
    gap: 50px;
}

hr {
    width: 100%;
}

.headingWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mainHeading {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    margin: 0;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

.singleSkillInnerWrapper {
    display: inline-flex;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    background-color: white;
    justify-content: flex-start;
    font-size: 0.8rem;
    /*white-space: nowrap;*/
    padding: 5px 15px;
}

.singleSkillIconDiv {
    width: 15%;
    display: inline-flex;
}

.singleSkillTextDiv {
    width: 80%;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.skillsInnerWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 45%));
    grid-gap: 20px;
}


.singleCertifInnerWrapper {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5%;
    padding: 3% 4%;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}

.singleCertifOuterWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.certifEntryWrapper {
    display: flex;
    justify-content: space-between;
}

.bolderNunito {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.certifSingleRow {
    width: 50%;
    justify-content: flex-start;
}

.about {
    font-family: 'Bellota Text', cursive;
}

@media screen and (max-width: 800px) {
    .skillsInnerWrapper {
        grid-template-columns: repeat(auto-fill, minmax(50%, 95%));
    }
}

@media screen and (max-width: 400px) {
    .headingWrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .mainHeading {
        margin-bottom: 5%;
        font-size: 1.2rem;
    }

    .about {
        font-size: 0.8rem;
    }

    .singleSkillInnerWrapper {
        width: 100%;
    }

    .singleSkillTextDiv {
        font-size: 0.6rem;
    }
}