.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    margin-top: 15vh;
    overflow: hidden;
    z-index: 10000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 60%;
    height: 80%;
    background: white;
    border-radius: 20px;
    border: 1px solid #ff7200;
    -webkit-box-shadow: 0px 20px 25px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 20px 25px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header {
    background: #ff7200;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1em;
    margin-top: 0;
}

.textAreaWrapper {
    width: 90%;
    height: 75%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textArea {
    width: 100%;
    height: 80%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    resize: none;
    border: 1px solid lightgray;
}

.listingsHeader {
    background: #ff7200;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1em;
    margin-top: 0;
}

.smallHeader {
    width: 90%;
    margin: 0 0 10px;
    color: black;
    font-family: 'Bellota Text', cursive;
    font-size: 0.7em;
}

.submitBtn {
    border: 1px solid lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ff7200;
    background-color: #f5f5f5;
    font-family: 'Balsamiq Sans', cursive;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: #ff7200;
    color: white;
    font-size: 1.2rem;
    font-family: 'Caveat', cursive;
    padding: 10px 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.hiddenModal {
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@media screen and (max-width: 1200px) {
     .header {
         font-size: 1.5rem;
     }
}

@media screen and (max-width: 863px) {
    .wrapper {
        width: 95%;
        height: 70%;
        justify-content: space-between;
    }

    .header {
        font-size: 0.8em;
    }

    .textAreaWrapper {
        margin-bottom: 30px;
    }

    .closeBtn {
        font-size: 3vw;
    }
}

@media screen and (max-width: 567px) {
    .header {
        font-size: 4vw;
    }

    .smallHeader{
        font-size: 3.5vw;
    }

    .wrapper {
        height: 90vw;
    }

    .textAreaWrapper {
        margin-bottom: 20px;
        /*margin-top: 10px;*/
    }

    .textArea {
        margin-bottom: 10px;
    }
}