.authFieldsSection {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-top: 1px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 80vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 7%;
    box-sizing: border-box;
    background-color: rgba(218, 220, 227, 0.5);

}

.headerSectionOuter {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.headerSectionInner {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    border: 1px solid lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid transparent;
}

.mainWrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
}

.headingCustomized {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.formClassName {
    width: 90%;
}

.listingsHeader {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 20px;
}

.miscText {
    font-family: 'Bellota Text', cursive;
    color: #ababab;
    font-size: 1rem;
}

.miscTextCont {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

.redirectLink {
    color: #ff7200;
}

.redirectLink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 863px) {
    .listingsHeader {
        font-size: 1.4rem;
    }

    .mainWrapper {
        width: 80%;
    }

    .authFieldsSection {
        padding: 10px 0 30px;
    }
}

@media screen and (max-width: 200px) {
    .miscText {
        display: none;
    }

    .listingsHeader {
        font-size: 0.9rem;
    }

    .miscText > span {
        display: none;
    }
}