h2 {
    margin: 0;
}

.categoryImg {
    width: 20%;
    height: auto;
}

.joinedSubs {
    color: grey;
}

.outerSection {
    border-radius: 20px;
    box-shadow: 5px -3px 15px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
