.mainHeader {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2.5em;
}

.inputFieldsCont {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputsCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100%;
    align-items: center;
}

.inputField {
    width: 100%;
    border: 1px solid lightgray;
    padding: 15px 15px 15px 0;
    text-indent: 20px;
    border-radius: 5px;
}


.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 5%;
    padding-left: 5%;
}

.checkBoxCont {
    display: flex;
    justify-content: space-between;
}

.checkBoxDetails {
    width: 95%;
    text-align: left;
}

.checkBox {
    width: 5%;
}

.styledBtn {
    width: 30%;
}


@media screen and (max-width: 1200px) {
    .inputFieldsCont {
        width: 75%;
    }
}

@media screen and (max-width: 800px) {
    .mainHeader {
        font-size: 1.2rem;
    }

    .checkBoxDetails {
        font-size: 0.8rem;

    }

    .styledBtn {
        width: 100%;
    }

    .inputFieldsCont {
        width: 100%;
    }

    .inputField {
        padding: 5px;
        text-indent: 5px;
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .inputsCont {
        height: 90%;
    }
}