.mainHeader {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2.5em;
}

.inputFieldsCont {
    margin-bottom: 40px;
    width: 90%;
}

.inputsCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

.inputField {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 15px 15px 15px 0;
}


.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 5%;
    padding-left: 5%;
}

.checkBoxCont {
    display: flex;
    justify-content: space-between;
}

.checkBoxDetails {
    width: 95%;
}

.checkBox {
    width: 5%;
}