.popularCategories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.popularCategoriesCont {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subHeader {
    font-family: 'Bellota Text', cursive;
    font-size: 1.1rem;
}

.popularWrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headingsWrapper {
    text-align: center;
    margin-bottom: 20px;
}

.mainHeader {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2rem;
}

.subHeaderWrapper {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.singleCategoryClass {
    width: 23%;
    height: 15vw;
    margin-bottom: 30px;
}

@media screen and (min-width: 2400px) {
    .singleCategoryClass {
        height: 350px;
    }
}

@media screen and (max-width: 1200px) {
    .singleCategoryClass {
        width: 40%;
        height: 25vw;
    }

    .popularWrapper {
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width: 863px) {
    .singleCategoryClass {
        width: 45%;
        height: 30vw;
    }

    .popularCategoriesCont {
        margin-bottom: 30px;
    }

    .mainHeader {
        margin-bottom: 10px;
    }

    .subHeader {
        width: 90%;
        margin-top: 0;
    }

    .popularWrapper {
        justify-content: space-evenly;
    }


    .headingsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subHeaderWrapper {
        width: 90%;
    }


}

@media screen and (max-width: 481px) {
    .singleCategoryClass {
        width: 85%;
        height: 100px;
        margin-bottom: 15px;
    }
}