
.mainWrapper {
    width: 80%;
    margin-left: 10%;
}

.subCatsInner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.subCatCardWrapper {
    width: 20%;
    min-width: 20%;
    flex: 1;
    margin-right: 2%;
    margin-bottom: 2%;
}

.link {
    text-decoration: none;
    color: black;
}

.subCategoryCard {
    height: 120px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1400px) {
    .subCatCardWrapper {
        width: 30%;
        min-width: 30%;
        flex: 0;
    }

    .subCategoryCard {
        font-size: 0.9rem;
        padding: 20px 10px;
    }

    .subCatsInner {
        justify-content: flex-start;
        margin-left: 2%;
    }
}

@media screen and (max-width: 800px) {
    .subCatCardWrapper {
        width: 100%;
        min-width: 100%;
        flex: 0;
    }

    .subCategoryCard {
        font-size: 1.1rem;
    }

    .subCategoryCard {
        padding: 30px 40px;
    }
}