@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Nunito:ital@0;1&display=swap');

.popularCategories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.popularCategoriesCont {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popularWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headingsWrapper {
    text-align: center;
    margin-bottom: 20px;
}

.mainHeader {
    font-family: 'Balsamiq Sans', cursive;
}

.subHeader {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.randomCategoriesCont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.randomCatsInnerCont {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.innerRandom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5px;
}

.singleCat {
    width: 40%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.randomCatsSingleCont {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}