.randomCategoriesCont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.randomCatsInnerCont {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.innerRandom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5px;
}

.singleCat {
    width: 40%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.randomCatsSingleCont {
    display: flex;
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainHeader {
    font-family: 'Balsamiq Sans', cursive;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.3s;
    white-space: nowrap;
    font-size: 1em;
    overflow: hidden;
}

.mainHeader:hover {
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
    transform: translate(0, 2px) scale(1.01);
    transition: all ease 0.3s;
}

@media screen and (max-width: 1200px) {
    .singleCat {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .randomCatsInnerCont {
        flex-direction: column;
    }

    .randomCatsSingleCont {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .mainHeader {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 400px) {
    .mainHeader {
        white-space: initial;
    }
}