.logoLink {
    width: 20%;
}

.logoImg {
    width: 100%;
    height: 100px;
}

.logoContainer {
    display: flex;
    align-items: flex-end;
    color: white;
}

.leftNavCont {
    justify-content: flex-start;
    width: 60%;
}

.rightNavCont {
    justify-content: flex-end;
    width: 20%;
}

.mainNav {
    height: 120px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(191,191,191,0.9) 50%, rgba(255,255,255,1) 100%);
    box-shadow: 5px -3px 15px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.header {
    height: 180px;
    background: aliceblue;
    color: black;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.mainNavLink {
    text-decoration: none;
    color: #494949;
    font-size: 21px;
    white-space: nowrap;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    padding-right: 40px;
}