.logoLink {
    width: 20%;
    height: 80px;
}

.logoImg {
    height: 100%;
    transition: height 1s ease;
}

.logoContainer {
    height: 100px;
    width: 20%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftNavCont {
    display: flex;
    justify-content: center;
    transition: width 1s ease;
    width: 60%;
    height: 100%;
    align-items: flex-end;
}

.rightNavCont {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20%;
    box-sizing: border-box;
}

.mainNav {
    height: 100px;
    background: white;
    box-shadow: 5px -3px 15px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px;
}

.header {
    height: 120px;
    background-color: #fafafa;
    color: black;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    transition: height 1s ease;
}

.mainNavLink {
    text-decoration: none;
    font-size: 1.1em;
    white-space: nowrap;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    padding-right: 40px;
    color: #ff7200;
    transition: all ease 0.3s;
    box-sizing: border-box;
}

.mainNavLink:hover {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
    transform: translate(0, -2px) scale(1.02);
    transition: all ease 0.3s;
}

.black {
    color: black;
}

.mobileNavIcon {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.mobileNav {

}

@media screen and (max-width: 800px) {
    .header {
        height: 60px;
    }

    .logoContainer {
        height: 40px;
    }

    .logoLink {
        height: 40px;
    }

    .mainNav {
        height: 40px;
    }

    .leftNavCont {
        display: none;
    }

    .rightNavCont {
        align-items: center;
        justify-content: space-between;
    }

    .userNavContainer {
        width: 60%;
    }

    .mainNavLink {
        width: 100%;
        font-size: 1.3em;
        background-color: #ff7200;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 10px;
        color: white;
        font-weight: normal;
    }
}