.logoLink {
    width: 20%;
    height: 80px;
}

.logoImg {
    height: 100%;
    transition: height 1s ease;
}

.header {
   height: 130px;
}

.logoContainer {
    width: 20%;
    min-width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftNavCont {
    display: flex;
    justify-content: center;
    transition: width 1s ease;
    width: 60%;
    height: 100%;
    align-items: flex-end;
    margin-top: 10px;
}

.rightNavCont {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20%;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.mainNav {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    box-shadow: 5px -3px 15px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.listingsHeader {
    height: 120px;
    width: 100%;
    background-color: #fafafa;
    color: black;
    display: flex;
    align-items: flex-end;
    transition: height 1s ease;
}

.mainNavLink {
    text-decoration: none;
    font-size: 1.1em;
    white-space: nowrap;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    padding-right: 40px;
    color: #ff7200;
    transition: all ease 0.3s;
    box-sizing: border-box;
}

.mainNavLink:hover {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
    transform: translate(0, -2px) scale(1.02);
    transition: all ease 0.3s;
}

.authLink {
    color: black;
    padding-right: 0;
}

.mobileNavIcon {
    width: 20%;
    cursor: pointer;
    display: none;
}

.mobileNav {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    z-index: 3;
    background-color: white;
    border-left: 1px solid lightgrey;
    transition: all 0.3s ease;
}

.hidden {
    right: -300px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 863px) {
    .listingsHeader {
        height: 60px;
    }


    .logoLink {
        height: 40px;
    }

    .leftNavCont {
        display: none;
    }

    .rightNavCont {
        width: 150px;
        align-items: center;
    }

    div.userNavContainer {
        display: none;
    }

    .header {
        height: 80px;
    }

    .mainNavLink {
        width: 100%;
        font-size: 1.3em;
        background-color: #ff7200;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 10px 10px 10px 0;
        color: white;
        font-weight: normal;
    }

    .visible {
        right: 0;
        transition: all 0.3s ease;
    }

    .mobileNavIcon {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 481px) {
    .userNavContainer {
        display: none;
    }

    .rightNavCont {
        justify-content: flex-end;
        width: 10%;
    }

    .mobileNavIcon {
        width: 100%;
    }

    .visible {
        width: 100%;
        transition: all 0.5s ease;
    }

}