.mainWrapper {
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
}

.innerWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

.listingsSection {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.listingCard {
    width: 35%;
    height: 30vh;
}

.profileSideCardWrapper {
    height: 100%;
    width: 35%;
}

div.visibleModal {
    height: 80vh;
    opacity: 1;
    transition: all 0.2s ease;
}

div.hiddenModal {
    height: 0;
    opacity: 0;
    transition: all 0.2s ease;
}


@media screen and (max-width: 1400px) {
    div.listingCard {
        width: 80%;
        height: 50vh;
    }
}

@media screen and (max-width: 1200px) {
    .mainWrapper {
        width: 100%;
        margin-left: 0;
    }

    .innerWrapper {
        width: 95%;
        margin-left: 2.5%;
    }

    .listingsSection {
        width: 55%;
    }

    .profileSideCardWrapper {
        width: 40%;
    }

    div.listingCard {
        width: 70%;
        height: 40vh;
    }
}

@media screen and (max-width: 800px) {
    .mainWrapper {
        width: 90%;
        margin-left: 5%;
    }

    .innerWrapper {
        width: 90%;
        margin-left: 5%;
    }

    .innerWrapper {
        flex-direction: column;
    }

    .profileSideCardWrapper {
        order: 0;
        width: 100%;
        margin-bottom: 7%;
    }

    .listingsSection {
        order: 1;
        width: 100%;
        margin-bottom: 5%;
    }

    div.listingCard {
        width: 80%;
        height: 50vh;
    }
}

@media screen and (max-width: 400px) {
    div.listingCard {
        width: 70%;
        height: 25vh;
    }

    .innerWrapper {
        width: 100%;
        margin-left: 0;
    }
}