.userInfo {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    height: 25%;
}

.mainHeadingOuterWrapper {
    padding-bottom: 5%;
    height: 100px;
}


.userInfoBtnsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
    border-bottom: 3px double lightgray;
}

.priceItem {
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    font-size: 1.5rem;
}

.priceItemBold {
    font-weight: 700;
    font-size: 1.1em;
}

.pricesInfoWrapper {
    height: 25%;
    display: flex;
    flex-direction: column;
}

.pricesInfoOuter {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 15px 15px 15px 15px;
}

.pricesInfoInner {
    border-radius: 15px;
    background-color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

.pricesWrapperHeading {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.reviewElem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    background-color: rgba(211, 211, 211, 0.3);
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

.reviewInnerFlexItem {
    height: 50%;
}

.reviewInnerTextItem {
    font-size: 0.9em;
    display: flex;
    align-items: flex-end;

}

.overflowSpan {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainFlexContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.reviewProfileImg {
    width: 30px;
    object-fit: cover;
}

.reviewHeading {
    font-size: 1em;
}

div.userHeadingWrapperReview {
    height: 30px;
    width: 100%;
}

div.ratingBoxWrapperClassName {
    width: 30px;
}


.ratingsInfo {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.ratingModal {
    height: 80vh;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.modalWrapper {
    font-size: 2rem;
}

img.profileImgClass {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

div.userHeadingWrapperMain {
    height: 300px;
}


.emptyReviews {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.emptyReviewsHeader {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.styledBtn {
    width: 50%;
    height: 50px;
}

.styledBtnReverted {
    width: 30%;
    background: #ff7200;
    color: white;
    border: 3px solid #ff7200;
    height: 50px;
}

.styledBtnReverted:hover {
    background: white;
    color: #ff7200;
    border: 3px solid #ff7200;
}

.styledBtnInner {
    height: 50px;
}

.userReviewHeadingClass {
    width: 70%;
    max-height: 70%;
}

@media screen and (max-width: 1200px) {
    .profileImgClass {
        height: 70%;
    }

    .userNames {
        font-size: 0.9rem;
    }

    .userInfoBtnsWrapper {
        flex-direction: column;
        align-items: center;
    }

    .styledBtn {
        width: 70%;
        margin-top: 3%;
    }
}

@media screen and (max-width: 1100px) {
    .styledBtn {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .userNames {
        font-size: 1.3rem;
    }

    .pricesWrapperHeading {
        text-align: center;
    }

    .ratingsInfo {
        height: auto;
    }

    .reviewElem {
        margin-top: 20px;
        height: 130px;
    }

}

@media screen and (max-width: 400px) {
    .ratingBoxWrapper {
        display: none;
        width: 0;
        height: 0;
    }

    .userWrapper {
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .userNames {
        font-size: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: end;
    }

    .profileImgClass {
        height: 90%;
    }


    .styledBtn {
        margin-bottom: 5%;
    }

    .pricesWrapperHeading {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 200px) {
    .userNames {
        font-size: 0.7rem;
    }
}