.customUpload {
    border: 2px dashed lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
}

.uploadInput {
    display: none;
}