.mainWrapper {
    background-color: #ff7200;
    padding: 2%;
    box-sizing: border-box;
}

.mainWrapperEmpty {
    width: 100%;
    height: 100%;
}

.mainWrapperNonEmpty {
    width: 100%;
    height: 100%;
}

.innerWrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.innerWrapperEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 20px;
}


.noPostWrapper {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    align-items: center;
    display: flex;
    width: 90%;
    justify-content: center;
}

h2 {
    margin: 0 0 0 2%;
}

.userNameHeader {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 2%;
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.07);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.messagesContainer {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.singleMsgWrapper {
    padding: 10px;
    position: relative;
}

.singleMsg {
    display: inline-block;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.singleMsgNotOwn {
    background-color: aliceblue;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
}

.singleMsgOwn {
    float: right;
    background-color: blue;
    color: white;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.mailIcon {
    font-size: 10rem;
    color: #ff7200
}

@media screen and (max-width: 800px) {
    .mailIcon {
        font-size: 5rem;
    }
}