.outerSection {
    width: 85%;
    margin-left: 7.5%;
}

.mainSection {
    width: 100%;
    height: 55vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.carouselSection {
    width: 60%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
}
.sideSection {
    width: 35%;
}


.listingActionsBtns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.listingActionsInner {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.deleteListingBtn {
    border-color: red;
    background: red;
    color: white;
    width: 40%;
    height: 40px;
}

.editBtnLink {
    width: 40%;
    margin-bottom: 1%;
    height: 40px;
}

.editListingBtn {
    width: 100%;
}

.deleteListingBtn:hover {
    background: white;
    border-color: red;
    color: red;
}

.serviceDetails {
    margin-top: 1%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2% 2%;
    margin-bottom: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
    border-radius: 20px;

}

.innerDetails {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    white-space: pre-wrap;
    width: 98%;
    padding: 20px;
    border-top: 1px solid #ff7200;
    border-bottom: 1px solid lightgray;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Bellota Text', cursive;
}

.detailsHeader {
    padding: 0.5% 3% 1%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    border: 1px solid lightgray;
    border-top: none;
    font-family: 'Comfortaa', cursive;
    background-color: #ff7200;
    margin-top: 0;
    margin-bottom: 3%;
}

.similarListingsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    padding-top: 5%;
    height: 65vh;
    align-items: center;

}

.similarListings {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

}

.similarListing {
    width: 25%;
    height: 80%;
}

.mainHeader {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-top: 3%;
}

.listingProfilePic {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.similarListingsHeader {
    font-size: 2rem;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
}

.townName {
    display: flex;
    font-family: 'Balsamiq Sans', cursive;
    justify-self: flex-start;
    align-items: center;
}

.townNameHeader {
    margin-left: 10px;
    vertical-align: middle;
}


@media screen and (max-width: 1600px) {
    div.priceClassName {
        font-size: 0.7rem;
    }

    div.namesClassName {
        font-size: 0.8rem;
    }

    a.listingHeading {
        font-size: 0.7rem;
    }

    .listingProfilePic {
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
    }
}

.noSimilarListings {
    margin-top: 10%;
    margin-bottom: 10%;
}

@media screen and (max-width: 1400px) {
    .similarListings {
        height: 50vh;
    }

    .outerSection {
        width: 95%;
        margin-left: 2.5%;
    }

    .mainSection {
        width: 95vw;
    }

}

@media screen and (max-width: 1000px) {
    .outerSection {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainSection{
        height: auto;
        align-items: center;
    }

    .deleteListingBtn {
        width: 100%;
    }

    .mainSection {
        flex-direction: column;
        width: 90%;
    }

    .carouselSection {
        width: 85vw;
        margin-bottom: 10%;
        height: 85vw;
    }

    .sideSection {
        width: 100%;
    }

    .similarListingsWrapper {
        height: auto;
    }

    .similarListings {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    div.similarListing {
        width: 60vw;
        height: 60vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .innerDetails {
        font-size: 0.8rem;
    }

    .serviceDetails {
        width: 90%;
    }

    .listingProfilePic {
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    div.priceClassName {
        font-size: 1rem;
    }

    div.namesClassName {
        font-size: 1.1rem;
    }

    a.listingHeading {
        font-size: 1rem;
    }

    .listingActionsInner {
        flex-direction: column;
        width: 90%;
    }

    .editBtnLink {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .detailsHeader {
        font-size: 0.6rem;
        padding: 1% 5% 1%;
    }

    .innerDetails {
        padding: 5px;
    }

    .mainHeader {
        font-size: 1.5rem;
    }

    div.priceClassName {
        font-size: 0.7rem;
    }

    div.namesClassName {
        font-size: 0.8rem;
    }

    a.listingHeading {
        font-size: 0.7rem;
    }

    .listingProfilePic {
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
    }
}