.outerSection {
    width: 80%;
    margin-left: 10%;
}

.mainSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.carouselSection {
    width: 60%;
    border: none;
    box-sizing: border-box;
}

.sideSection {
    width: 35%;
}

.serviceDetails {
    margin-top: 1%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2% 2%;
    margin-bottom: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29);
    border-radius: 20px;

}

.innerDetails {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    white-space: pre-wrap;
    width: 98%;
    padding: 20px;
    border-top: 1px solid #ff7200;
    border-bottom: 1px solid lightgray;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Bellota Text', cursive;
}

.detailsHeader {
    padding: 0.5% 3% 1%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    border: 1px solid lightgray;
    border-top: none;
    font-family: 'Comfortaa', cursive;
    background-color: #ff7200;
    margin-top: 0;
}

.similarServices {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
}

.similarService {
    width: 25%;
}

.mainHeader {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-top: 3%;
}

@media screen and (max-width: 1200px) {
    .outerSection {
        width: 90%;
        margin-left: 5%;
    }
}


@media screen and (max-width: 800px) {

    .outerSection {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainSection {
        flex-direction: column;
        width: 90%;
    }

    .carouselSection {
        width: 100%;
        margin-bottom: 10%;
    }

    .sideSection {
        width: 100%;
    }

    .similarServices {
        flex-direction: column;
        align-items: center;
    }

    .similarService {
        width: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .innerDetails {
        font-size: 0.8rem;
    }

    .serviceDetails {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .detailsHeader {
        font-size: 0.6rem;
        padding: 1% 5% 1%;
    }

    .innerDetails {
        padding: 5px;
    }

    .mainHeader {
        font-size: 1.5rem;
    }
}