@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Bellota+Text&family=Comfortaa:wght@300;400;700&family=Mulish:wght@500&family=Nunito:ital,wght@0,200;0,400;0,600;0,800;0,900;1,400;1,600&family=Pacifico&family=Exo+2&display=swap');

html, body {
    margin: 0;
    width: 100%;
    display: table;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    color: black;
}