.headingOuter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}


.headingInner {
    width: 50%;
    font-size: 1.5rem;
    font-family: 'Balsamiq Sans', cursive
}

.headingInnerSearch {
    display: flex;
    justify-content: flex-end;
}

.searchBarWrapper {
    width: 60%;
}

@media screen and (max-width: 863px) {
    .headingOuter {
        flex-direction: column;
        align-items: center;
    }

    .headingInner {
        width: 100%;
        text-align: center;
    }

    .searchBarWrapper {
        width: 100%;
    }

    .mainHeader {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 481px) {
    .mainHeader {
        font-size: 6vw;
    }
}

