@keyframes loading {
    0% {
        left: -45%;
    }
    100% {
        left: 100%;
    }
}

.loadWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.7);
    z-index: 0;
    overflow: hidden;
}

.loadingContent {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: loading 1s infinite;
    z-index: 1;
}