h1, h2 {
    margin-top: 0;
}

.mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 10%;
}

.innerSection {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.headingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.innerCheckMarkCont {
    line-height: 40px;
}


.checkMarkDiv {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.checkMarkText {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.registerBtn {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #ff7200;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin-top: 40px;
}

.mainHeading {
    font-size: 40px;
    font-family: 'Balsamiq Sans', cursive;
}