h1, h2 {
    margin-top: 0;
}

.mainSection {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    /*padding-left: 10%;*/
    box-sizing: border-box;
}

.innerSection {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.headingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 70%;
}

.innerCheckMarkCont {
    line-height: 40px;
}


.checkMarkDiv {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.checkMarkText {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.registerBtn {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #ff7200;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    align-self: flex-start;
    transition: all ease 0.5s;
}

.registerBtn:hover {
    border-radius: 5px;
    box-shadow: 0 14px 13px -10px #000000;
    transform: translate(0, 2px) scale(1.03);
    transition: all ease 0.5s;
}

.mainHeading {
    font-size: 35px;
    font-family: 'Balsamiq Sans', cursive;
}

.linkBtn {
    color: white;
    text-decoration: none;
}

.bannerImgCont {
    height: 70%;
    width: 40%;
}

.bannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headingsOuterContainer {
    height: 100%;
    width: 40%;
}

.iconClass {
    color: green;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .headingsOuterContainer {
        width: 55%;
    }
}

@media screen and (max-width: 800px) {
    .mainSection {
        height: auto;
    }

    .innerSection {
        flex-direction: column;
    }

    .mainHeading {
        font-size: 1.2em;
    }

    .headingsOuterContainer {
        width: 100%;
        text-align: center;
    }

    .innerCheckMarkCont {
        width: 100%;
    }

    .checkMarkText {
        font-size: 1.1em;
        vertical-align: middle;
        line-height: 1.5em;
        margin-top: 15px;
    }

    .bannerImgCont {
        width: 100%;
        margin-top: 30px;
    }

    .registerBtn {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .mainHeading {
        font-size: 0.7em;
    }

    .checkMarkText {
        text-align: start;
    }
}