.wrapper {
    width: 90%;
    border-top: 1px solid lightgray;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 3%;
    min-height: 80vh;
    height: 100%;
}


.usersInnerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

section.contentSection {
    width: 45%;
}

.userCardWrapper {
    width: 100%;
}

.listingsSection {
    display: flex;
    flex-direction: column;
}

.listingsHeader {
    align-self: center;
    width: 50%;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    background: #ff7200;
    color: white;
}

.usersHeader {
    align-self: center;
    width: 50%;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    background: #ff7200;
    color: white;
}

div.listingCard {
    width: 320px;
    height: 350px;
    margin-bottom: 50px;
}

.innerListingsDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 90%;
}

.listingProfilePic {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


h1, h4 {
    margin: 0;
}

.noDataHeader {
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.noDataHeaderAlone {
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
}

@media screen and (max-width: 1600px) {
    div.listingCard {
        width: 70%;
        height: 50vh;
        max-width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .innerListingsDiv {
        justify-content: center;
    }

    .listingsSection {
        width: 45%;
    }


    a.listingCardHeading {
        font-size: 1.4rem;
    }

    .listingCardHeading {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    div.listingCard {
        width: 80%;
        height: 45vh;
    }

    a.listingCardHeading {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1000px) {
    div.listingCard {
        height: 35vh;
    }
}

@media screen and (max-width: 863px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .usersInnerWrapper {
        align-items: center;
        margin-bottom: 30px;
    }

    .userCardWrapper {
        width: 90%;
    }

    section.contentSection {
        width: 100%;
    }

    div.listingCard {
        width: 70%;
        height: 70vw;
        margin-bottom: 30px;
    }

    .listingsHeader, .usersHeader {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .contentSection {
        min-height: 40vh;
    }

    .noDataHeader, .noDataHeaderAlone {
        font-size: 4vw;
    }
}

@media screen and (max-width: 481px) {
    div.listingCard {

    }

    .listingProfilePic {
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
    }

    div.namesClassName {
        font-size: 0.8rem;
    }

    .priceClassName {
        font-size: 0.9rem;
    }
}