.mainWrapper {
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainHeader {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.details {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.detailsBig {
    display: block;
}

.detailsSmall {
    display: none;
}

.halfInputOuterWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.smallerWrapper20 {
    height: 20%;
}

.textAreaWrapper {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 10vh;
    margin-bottom: 3%;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.inputWrapper {
    width: 100%;
    margin-bottom: 3%;
}

.smallerWrapper {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.halfInput {
    width: 45%;
    margin-bottom: 3%;
}

.customInput {
    width: 100%;
    margin-bottom: 3%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.certifWrapper {
    display: flex;
    justify-content: flex-start;
}

.certifRow {
    display: flex;
    justify-content: space-between;
}

.singleCertifWrapper {
    min-width: 25%;
    border: 1px solid black;
    margin-right: 5%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
}

.bolder {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
}

.submitBtnWrapper {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

button.submitBtn {
    padding: 10px 25px;
    justify-self: center;
    align-items: center;
    width: 30%;
}

.invalidInput {
    border: 1px solid red;
}

.errorElement {
    color: red;
    margin-top: 1%;
}

.skillsInputWrapper {
    margin-bottom: 3%;
}

.textArea {
    margin-bottom: 5%;
}

.changePasswordHeader {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    margin-bottom: 3%;
    margin-top: 3%;
}

@media screen and (max-width: 863px) {
    .mainHeader {
        font-size: 1.2rem;
    }

    .mainWrapper {
        width: 95%;
        margin-left: 2.5%;
    }

    .details {
        font-size: 0.8rem;
    }

    .halfInput {
        width: 95%;
    }

    .detailsBig {
        display: none;
    }

    .detailsSmall {
        display: block;
    }

    button.submitBtn {
        width: 90%;
    }
}