.mainWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    box-sizing: border-box;
}

.logoImg {
    width: 20%;
}

.link {
    color: aliceblue;
    background-color: rgba(139, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 9px 15px 5px rgba(0, 0, 0, 0.4);
    border: none;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 0.9em;
    position: relative;
}
