.searchInput {
    height: 40px;
    position: relative;
    bottom: 0;
    vertical-align: middle;
    border: none;
    width: 85%;
    max-width: 85%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px;
}

.searchContainer {
    height: 60px;
    box-shadow: 5px -3px 15px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
}


.searchBtn {
    height: 60px;
    border: none;
    width: 15%;
    min-width: 15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: middle;
    background: darkred;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}